# Python y Entornos Virtuales
venv/
.venv/
__pycache__/
*.pyc

# Variables de entorno y secretos (¡MUY IMPORTANTE!)
.env
*.session
*.session-journal

# Base de datos local
*.db
*.sqlite3

# Archivos de Node.js / Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# Archivos del sistema operativo y editores
.DS_Store
.vscode/
.idea/